version: "3"
services:
  db-userauth:
    image: postgres:10.4
    container_name: db-userauth
    networks:
      - authnet
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: users
    volumes:
      - postgres-userauth-db:/var/lib/postgresql/data
    restart: always
  userauth: 
    build: ../authentication
    container_name: userauth
    depends_on:
      - db-userauth
    networks:
     - authnet
    ports:
     - "3003:3003"
    restart: always
    volumes: 
      - ../authentication/:/userauth
  notes:
    build: ../notes
    container_name: notes
    depends_on:
      - userauth
    networks:
      - frontnet
    ports:
    - "3000:3000"
    restart: always
    volumes:
      - ../notes:/notesapp
  db-notes:
    image: "bitnami/mongodb:4.0"
    container_name: db-notes
    networks:
      - frontnet
    ports:
      - "27017:27017"
    volumes:
      - ../notes/data/mongo:/bitnami
    
      
        

networks:
  authnet:
    driver: bridge
  frontnet:
    driver: bridge

volumes:
  postgres-userauth-db:
